*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img,
video,
iframe  {
  max-width: 100%;
}
a {
  text-decoration: none;
}
select {
  background: none;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  margin-left: 15px;
  margin-right: 15px;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-1 {
  width: 8.33333%;
}
.col-2 {
  width: 16.666666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.66666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333%;
}
.col-8 {
  width: 66.66666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333%;
}
.col-11 {
  width: 91.66666%;
}
.col-12 {
  width: 100%;
}
.offset-1 {
  margin-left: 8.33333%;
  }
.offset-2 {
  margin-left: 16.666666%;
  }
.offset-3 {
  margin-left: 25%;
  }
.offset-4 {
  margin-left: 33.33333%;
  }
.offset-5 {
  margin-left: 41.66666%;
  }
.offset-6 {
  margin-left: 50%;
  }
.offset-7 {
  margin-left: 58.33333%;
  }
.offset-8 {
  margin-left: 66.66666%;
  }
.offset-9 {
  margin-left: 75%;
  }
.offset-10 {
  margin-left: 83.33333%;
  }
.offset-11 {
  margin-left: 91.66666%;
  }
.offset-12 {
  margin-left: 100%;
  }
.header {
  position: absolute;
  width: 100%;
  padding-top: 50px;
}
.header-logo {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 7px;
}
.header-img {
  margin-right: 10px;
}
.header-nav {
  text-align: center;
}
.header-nav_ul {
  margin: 0;
  padding: 0;
}
.header-nav-list-item {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 12px 14px;
  list-style-type: none;
}
.header-a {
  color: #fff;
}
.header-btn {
  width: 100px;
  height: 40px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  float: right;
}
.header-btn-login:hover {
  background-color: #da8890;
}
.header-btn-login:focus {
  outline: none;
  box-shadow: 0 0 0 3px #252121;
}
.header-btn-login:active {
  background-color: #ad0303;
  color: #131010;
}
.hero-section {
  padding-top: 178px;
  padding-bottom: 178px;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../images/hero_section_bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}
.main-heading {
  text-transform: uppercase;
  font-size: 72px;
  line-height: 86px;
}
.text {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 39px;
}
.main-btn {
  display: inline-block;
  padding: 21px 52px;
  background: #ed4c5c;
  font-size: 14px;
  line-height: 18px;
  border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
}
.main-btn--alt {
  background: #fff;
  color: #ed4c5c;
}
.main-btn:hover {
  background: #da8890;
}
.main-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #252121;
}
.main-btn:active {
  background: #ad0303;
  color: #131010;
}
.cloud-budget-section {
  height: 500px;
  padding-top: 95px;
  padding-bottom: 95px;
}
.secondary-title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}
.cloud-budget_title {
  margin-top: 45px;
  margin-bottom: 56px;
}
.plaine-text {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}
.video-wrap {
  position: relative;
  display: inline-block;
}
.main-video {
  border-radius: 15px;
  width: 100%;
}
.main-btn-play {
  width: 66px;
  height: 66px;
  background: #ED4C5C;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 33px);
  top: calc(50% - 33px);
  color: #fff;
}
.features-section {
  padding-top: 64px;
  padding-bottom: 124px;
  background-color: #fafafa;
}
.feature-title {
  text-align: center;
  margin-bottom: 62px;
}
.feature-card_image {
  border-radius: 7px;
}
.feature-card_inner {
  position: relative;
  z-index: 2;
  margin-top: -80px;
  text-align: center;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 34px 24px 24px 20px;
  background: white;
  margin-left: 30px;
  margin-right: 30px;
}
.feature-card_title {
  font-size: 18px;
  line-height: 22px;
}
.feature-card_txt {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
.feature-card_link {
  font-size: 12px;
  line-height: 18px;
  color: #ed4c5c;
}
.technology-section {
  height: 500px;
  padding-top: 64px;
  padding-bottom: 108px;
}
.technology-title {
  text-align: center;
  margin-bottom: 58px;
}
.technology-card {
  text-align: center;
  margin-left: 34px;
  margin-right: 30px;
}
.technology-card_number {
  display: inline-block;
  font-weight: bold;
  font-size: 100px;
  line-height: 1;
  color: rgba(16, 16, 16, 0.08);
}
.technology-card_img-wrap {
  min-height: 80px;
  margin-top: -50px;
  font-size: 0;
}
.technology-card_title {
  font-size: 18px;
  line-height: 22px;
}
.technology-card_txt {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.saving-money-section {
  height: 500px;
  background: #ed4c5c;
  padding-top: 62px;
  padding-left: 62px;
}
.saving-money-title {
  color: #fff;
  margin-top: 56px;
  margin-bottom: 32px;
}
.s-m-text {
  color: #fff;
  margin-bottom: 34px;
  text-align: justify;
}
.saving-money-ul {
  padding-left: 0;
  margin-top: 0;
}
.icon-img {
  margin-right: 28px;
}
.saving-money-li {
  display: inline-block;
}
.saving-money-iframe {
  width: 540px;
  height: 378px;
  border-radius: 15px;
}
.contact-section {
  height: 500px;
  padding-top: 114px;
  padding-bottom: 72px;
}
.contact-title {
  margin-bottom: 32px;
}
.main-input,
.main-select {
  display: block;
  height: 60px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
}
.main-input {
  margin-bottom: 24px;
}
.main-input:focus {
  border: 2px solid #474646;
}
.main-select {
  margin-bottom: 28px;
}
.main-select {
  appearance: none;
}
.footer {
  height: 436px;
  background-color: #fafafa;
  padding-top: 90px;
  padding-bottom: 80px;
}
.footer-title {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 34px;
}
.footer-text {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin: 0;
}
.footer-ul {
  margin: 0;
  padding: 0;
}
.footer-li {
  list-style-type: none;
  margin-bottom: 8px;
}
.footer-a {
  font-size: 14px;
  line-height: 22px;
}
.icon-image {
  margin-top: 12px;
  margin-right: 15px;
}
.text-copyright {
  margin-top: 80px;
}



